body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
#footer {
    background-color: #e8e8e8;
}
.logo-navbar {
    width: 75px;
}
.logo-footer {
    width: 70px;
}
.logo-footercel {
    width: 45px;
}
.incon-instagram {
    width: 45px;
}
.navbar {
    background-color: rgba(215, 215, 215, 0.302);
}
.texto-justificado {
    text-align: justify;
}
.img-tools {
    max-height: 400px;
    width: 100%;
}