:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --chechi-primary: #FF7100;
    --chechi-primary-dark: #da680a;
    --chechi-info: #230C33;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 24px;
}
body {
    font-family: 'Montserrat', sans-serif;
}
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    z-index: 1;
}
#carousel .text-gallery {
    text-align: justify;
    border-bottom: 4px solid var(--chechi-primary);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}
#footer {
    background-color: #e8e8e8;
}
.logo-navbar {
    width: 75px;
}
.logo-footer {
    width: 70px;
}
.logo-footercel {
    width: 70px;
}
.icon-social {
    width: 45px;
}
.phone-icon {
    width: 25px;
}
.see-gallery {
    text-decoration: none;
    font-size: var(--lg);
    font-weight: 500;
    color: var(--white);
    background-color: var(--chechi-primary);
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}
.see-gallery:hover {
    color: var(--chechi-primary);
    background-color: var(--white);
}
.front {
    z-index: 1;
}
.navbar {
    background-color: rgba(215, 215, 215, 0.302);
}
.texto-justificado {
    text-align: justify;
}
.img-tools {
    max-height: 400px;
    width: 100%;
}