:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --chechi-primary: #FF7100;
    --chechi-primary-dark: #da680a;
    --chechi-info: #230C33;
    --chechi-footer: #e8e8e8;
    --chechi-gray-dark: #1a1a1a;
    --xs: 10px;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 24px;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
#navbar {
    background-color: rgba(215, 215, 215, 0.900);
}
#navbar ul li a {
    color: var(--black);
}
/* Navbar */

/* Carousel */
#main .carousel-inner img {
    max-height: 100vh;
    object-fit: cover;
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white);
    z-index: 1;
}
#carousel .text-gallery {
    text-align: justify;
    border-bottom: 4px solid var(--chechi-primary);
    border-left: 4px solid var(--chechi-primary);
    border-right: 4px solid var(--chechi-primary);
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}
#carousel .text-gallery-title {
    border-left: 4px solid var(--chechi-primary);
    padding: 2px 2px 2px 15px;
    color: var(--chechi-primary);
    font-family: 'Holtwood One SC', serif;
    font-size: 40px;
}
/* Carousel */

/* About us */
#about-us {
    height: 100%;
    padding: 35px;
    gap: 20px;
    background-color: var(--chechi-gray-dark);
}
.container-about {
    display: grid;
    grid-column-end: center;
}
.title-about {
    border-left: 4px solid var(--chechi-primary-dark);
}
.info-about {
    border: 4px solid var(--chechi-primary-dark);
    border-top: none;
}
.container-about .img-tools {
    height: 100%;
    width: 100%;
    justify-items: center;
}
#about-us p {
    text-align: justify;
}
/* About us */

/* work-methodology */
.container-cards {
    align-self: center;
    margin-top: 50px;
    gap: 20px;
    max-height: 100%;
}
.card {
    height: 100%;
    text-align: justify;
    text-align: center;
    border: 1px solid var(--chechi-primary-dark);
}
.container-cards .img-card {
    height: 70px;
    max-width: 90px;
}
.circle-number {
    width: 25px;
    margin-top: 25px;
}
.card-incon {
    max-width: 90px;
}
.card-img {
    width: 100px;
    height: 100px;
}
/* Work-methodology */

/* Frequent questions */
#frecuents-questions {
    height:100%;
    padding-top: 40px;
    background-color: var(--chechi-gray-dark);
}
#frecuents-questions h1 {
    font-weight: bold;
    color: var(--white);
}
.question {
    margin-top: 50px;
    text-decoration: none;
    color: var(--white);
    font-size: var(--xl);
    padding-left: 10px;
    border-left: 2px solid var(--chechi-primary-dark);
}
.question:hover {
    border-left: 2px solid var(--white);
    color: var(--chechi-primary-dark);
}
.card-questions {
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    color: var(--text-input-field);
    border: 1px solid var(--chechi-primary-dark);
    background-color: var(--dark);
}
/* Frequent questions */

/* Terms and Conditions */
#terms-and-condition {
    padding: 50px;
    background-color: var(--chechi-gray-dark);
}
.container-terms {
    padding: 50px;
    border: 1px solid var(--text-input-field);
    background-color: var(--white);
}
.terms-colum {
    padding-top: 20px;
}
.terms-colum p {
    text-align: justify;
}
.terms-colum h1 {
    font-weight: bold;
}
.terms-colum h4 {
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 10px;
}
.terms-colum h6 {
    font-weight: bold;
    padding-left: 25px;
}
.title-inf-temrs {
    font-family: 'Holtwood One SC', serif;
}
/* Terms and Conditions */

/* Footer */
#footer {
    background-color: var(--chechi-footer);
}
.logo-navbar {
    width: 75px;
}
.logo-footer {
    width: 70px;
}
.logo-footercel {
    width: 70px;
}
.icon-social {
    width: 45px;
}
.phone-icon {
    width: 25px;
}
/* Footer */
.see-gallery {
    text-decoration: none;
    font-size: var(--lg);
    font-weight: 500;
    color: var(--white);
    background-color: var(--chechi-primary);
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}
.see-gallery:hover {
    color: var(--chechi-primary);
    background-color: var(--white);
    border: 1px solid var(--chechi-primary);
}
.front {
    z-index: 1;
}
.img-tools {
    max-height: 400px;
    width: 100%;
}
.chechi-button {
    background-color: var(--chechi-primary);
    color: var(--white);
}
.chechi-button:hover {
    background-color: var(--white);
    color: var(--chechi-primary);
    border: 1px solid var(--chechi-primary);
}
.contat-you {
    font-size: var(--sm);
    margin-top: 10px;
}
.contact-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-justified {
    text-align: justify;
}
.gallery-front {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.img-modal-gallery {
    width: 100%;
    height: 400px;
    object-fit: cover;
}